@define-color bg    #1a1b26;
@define-color fg    #a9b1d6;
@define-color blk   #32344a;
@define-color red   #f7768e;
@define-color grn   #9ece6a;
@define-color ylw   #e0af68;
@define-color blu   #7aa2f7;
@define-color mag   #ad8ee6;
@define-color cyn   #0db9d7;
@define-color brblk #444b6a;
@define-color wht   #ffffff;

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: @fg;
}

#clock,
#custom-my-power,
#workspaces,
#window,
#hyprland-window,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background-color: @bg;
    padding: 2px 12px;
    margin: 4px 3px;
    border-radius: 10px;
}

#workspaces button {
    padding: 0 6px;
    color: @mag;
    background: transparent;
    border-bottom: 3px solid @bg;
}

#workspaces button.active {
    border-bottom: 3px solid @mag;
}

#workspaces button.empty {
    color: @wht;
}

#workspaces button.empty.active {
    color: @wht;
    border-bottom: 3px solid @mag;
}

#custom-my-power {
    color: @red;
    border-bottom: 4px solid @mag;
}

#custom-sep {
    color: @brblk;
}

#clock {  /* cyn */
    color: @mag;
    border-bottom: 4px solid @mag;
}
#workspaces {
    border-bottom: 4px solid @mag;
}
#hyprland-window {
    color: @grn;
    border-bottom: 4px solid @grn;
}
#battery { /* blu */
    color: @mag;
    border-bottom: 4px solid @mag;
}
#disk {
    color: @ylw;
    border-bottom: 4px solid @ylw;
}
#memory {
    color: @mag;
    border-bottom: 4px solid @mag;
}
#cpu {
    color: @grn;
    border-bottom: 4px solid @grn;
}
#network { /* blu */
    color: @mag;
    border-bottom: 4px solid @mag;
}
#pulseaudio {
    color: @mag;
    border-bottom: 4px solid @mag;
}
#window {
    color: @mag;
    border-bottom: 4px solid @mag;
}

